---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 08 2025')}
	heroImage="/dp1.jpg"
>
 <!-- heroImage="/blog-placeholder-about.jpg" -->
 <p>Hello, I’m Ravikiran, Technical Communication Specialist and Data Analyst. I’m a technical writer and data enthusiast based in Bangalore. I love traveling and am an aspiring author who wants to turn my fantasy into a book.</p>
<p>I am a passionate, disciplined, and experienced professional with seven years of experience, including six years as a technical writer in the software domain and one year as a data analyst. With a background in computer science, I have a strong ability to convert complex technical concepts into simple language and translate data into actionable insights.</p>
<p>As a technical writer, I have authored various technical documentation such as configuration guides, user guides, installation guides, online help files, troubleshooting guides, API documentation, and video creation for IT products.</p>
<p>In my recent role as a Data Analyst, I gained hands-on experience working with tools such as SQL, Python, Excel, and data visualization platforms like Power BI. I analyzed large datasets to uncover trends and actionable insights, optimized data processing workflows for efficiency and scalability, and collaborated with cross-functional teams to ensure accurate data collection and reporting. My work involved building interactive dashboards, generating insightful reports, and transforming complex data into visual narratives to support strategic business decisions.</p>
<p>I am committed to continuous learning and professional growth in technical writing, programming, and data analytics. I am always looking for opportunities to expand my knowledge of industry best practices, emerging tools, and technologies.</p>
<p>In addition to my technical skills, I’m proficient in tools such as MadCap Flare, Adobe Frame Maker, and Oxygen XML Editor, which allow me to create, organize, and maintain documentation projects of any size. I’m also well-versed in version control systems like Git, enabling me to collaborate and track changes effectively.</p>
<p>Apart from technical writing and data analysis, I have obtained certifications in JavaScript, an Agile project management crash course, and a Java full-stack development program to enhance my skillset.</p>
<p>Thank you for reading.</p>
<p>Best Regards,<br/>Ravikiran KC<br/>Email: Ravikiran_24@yahoo.com<br/>Mob: +91 7348851546</p>
</Layout>
